@using PRUEBA.ViewModels
@model UserOrdersViewModel

<div class="pedidos-container">
  <h1>Pedidos de: @Model.User.Email</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Pedido ID</th>
        <th>Order's date</th>
        <th>Total amount</th>
        <th>Shipping Address</th>
        <th>Status</th>
        <th>Comprobante de pago</th>
        <!-- Puedes agregar aquí más encabezados de columnas según la información del pedido que quieras mostrar -->
      </tr>
    </thead>
    <tbody>
      @foreach (var order in Model.Orders)
      {
        <tr>
          <td>@order.id</td>
          <td>@order.OrderDate</td>
          <td>@order.Total_Amount</td>
          <td>@order.Shipping_Address</td>
          <td>@order.Status</td>
          <td><a href="/Home/DescargarFactura?orderId=@order.id" target="_blank">Ver factura</a></td>
          <!-- Puedes agregar aquí más celdas con la información del pedido que quieras mostrar -->
        </tr>
      }
    </tbody>
  </table>
</div>

