@model PRUEBA.Models.PRODUCT

<style>
  .container-detalle {
    margin-top: 200px;
    height: 100vh;
  }
</style>

<main>
  <div class="row">
    <div class="container-img col-md-8">
      <img src="@Model.Image_URL" alt="imagen-producto" width="800px" height="500px">
    </div>
    <div class="container-info-product col-md-4">
      <div class="container-price">
        <span>@Model.Price.ToString("C")</span>
      </div>

      <div class="container-add-cart">
        <form asp-action="AddToCart" method="post">
          <input type="hidden" name="productId" value="@Model.id" />
          <input class="input-quantity" type="number" name="quantity" value="1" min="1" />
          <button type="submit" class="btn btn-success">Añadir al carrito</button>
        </form>
      </div>
      <div class="container-description">
        <div class="title-description">
          <h4>Descripción</h4>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="text-description hidden">
          <p>@Model.Descripcion</p>
        </div>
      </div>

      <div class="container-additional-information">
        <div class="title-additional-information">
          <h4>Cantidad en Stock</h4>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="text-additional-information hidden">
          <p>@Model.Quantity</p>
        </div>
      </div>

      <div class="container-social">
        <span>Share</span>
        <div class="container buttons-social">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>

      @using (Html.BeginForm("DarRecomendaciones", "Home", FormMethod.Post))
      {
        <div class="form-group mt-2">
          <label for="usoProducto">¿Para qué usarás este producto?</label>
          <input type="text" class="form-control" id="usoProducto" name="usoProducto" required>
        </div>
        <input type="hidden" class="form-control" id="producto" name="producto" value="@Model.Descripcion" required>

        <input type="hidden" class="form-control" id="id" name="id" value="@Model.id" required>

        <button type="submit" class="btn btn-primary">Pedir recomendaciones</button>
        <div class="card-body mt-2">
          <p class="card-text">@ViewBag.Message</p>
        </div>

      }
    </div>



  </div>
</main>
<script src="https://kit.fontawesome.com/5725f7d06a.js" crossorigin="anonymous"></script>
<script>
  const inputQuantity = document.querySelector('.input-quantity')
  let valueByDefault = parseInt(inputQuantity.value)
  //Toggle
  //Constances toggle Titles
  const toggleDescription = document.querySelector('.title-description')
  const toggleAdditionalInformation = document.querySelector('.title-additional-information')
  const toggleReviews = document.querySelector('.title-reviews')
  //Constantes Contenido Texto
  const contentDescription = document.querySelector('.text-description')
  const contentAdditionalInformation = document.querySelector('.text-additional-information')
  const contentReviews = document.querySelector('.text-reviews')
  //Funciones de toggle
  toggleDescription.addEventListener('click', () => {
    contentDescription.classList.toggle('hidden');
  })
  toggleAdditionalInformation.addEventListener('click', () => {
    contentAdditionalInformation.classList.toggle('hidden');
  })
  toggleReviews.addEventListener('click', () => {
    contentReviews.classList.toggle('hidden');
  })
</script>
